<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>

		<typeAlias type="org.apache.ibatis.type.EnumOrdinalTypeHandler"
			alias="EnumOrdinalTypeHandler" />
		<typeAlias type="org.apache.ibatis.type.EnumTypeHandler"
			alias="EnumTypeHandler" />
		<typeAlias type="me.qyh.mybatis.handler.FileStorageTypeHandler"
			alias="FileStorageTypeHandler" />
		<typeAlias type="me.qyh.mybatis.handler.TagSetTypeHandler"
			alias="TagSetTypeHandler" />

		<typeAlias type="me.qyh.entity.User" alias="User" />
		<typeAlias type="me.qyh.entity.Role" alias="Role" />
		<typeAlias type="me.qyh.entity.UserCode" alias="UserCode" />
		<typeAlias type="me.qyh.entity.RoleEnum" alias="RoleEnum" />
		<typeAlias type="me.qyh.entity.LoginInfo" alias="LoginInfo" />

		<typeAlias type="me.qyh.entity.MyFile" alias="MyFile" />
		<typeAlias type="me.qyh.entity.FileStatus" alias="FileStatus" />

		<typeAlias type="me.qyh.entity.UserCodeType" alias="UserCodeType" />

		<typeAlias type="me.qyh.entity.message.MessageSend" alias="MessageSend" />
		<typeAlias type="me.qyh.entity.message.MessageReceive"
			alias="MessageReceive" />
		<typeAlias type="me.qyh.entity.message.MessageType" alias="MessageType" />
		<typeAlias type="me.qyh.entity.message.MessageDetail" alias="MessageDetail" />
		<typeAlias type="me.qyh.entity.message.MessageStatus" alias="MessageStatus" />

		<typeAlias type="me.qyh.entity.Comment" alias="Comment" />
		<typeAlias type="me.qyh.entity.CommentScope" alias="CommentScope" />

		<typeAlias type="me.qyh.entity.Scope" alias="Scope" />

		<typeAlias type="me.qyh.entity.blog.BlogCategory" alias="BlogCategory" />
		<typeAlias type="me.qyh.entity.blog.Blog" alias="Blog" />
		<typeAlias type="me.qyh.entity.blog.BlogStatus" alias="BlogStatus" />
		<typeAlias type="me.qyh.entity.blog.BlogFrom" alias="BlogFrom" />
		<typeAlias type="me.qyh.entity.blog.TemporaryBlog" alias="TemporaryBlog" />
		<typeAlias type="me.qyh.entity.blog.BlogTag" alias="BlogTag" />

		<typeAlias type="me.qyh.entity.Space" alias="Space" />
		<typeAlias type="me.qyh.entity.SpaceStatus" alias="SpaceStatus" />

		<typeAlias type="me.qyh.entity.tag.Tag" alias="Tag" />
		<typeAlias type="me.qyh.entity.tag.UserTag" alias="UserTag" />

		<typeAlias type="me.qyh.page.widget.UserWidget" alias="UserWidget" />
		<typeAlias type="me.qyh.page.widget.WidgetType" alias="WidgetType" />
		<typeAlias type="me.qyh.page.Page" alias="Page" />
		<typeAlias type="me.qyh.page.PageType" alias="PageType" />
		<typeAlias type="me.qyh.page.LocationWidget" alias="LocationWidget" />
		<typeAlias type="me.qyh.page.widget.Widget" alias="Widget" />
		<typeAlias type="me.qyh.page.widget.config.WidgetConfig"
			alias="WidgetConfig" />
		<typeAlias type="me.qyh.page.widget.config.support.BlogWidgetConfig"
			alias="BlogWidgetConfig" />
		<typeAlias type="me.qyh.page.widget.config.support.BlogWidgetDisplayMode"
			alias="BlogWidgetDisplayMode" />


		<!--oauth2 -->
		<typeAlias type="me.qyh.oauth2.entity.OauthUser" alias="OauthUser" />
		<typeAlias type="me.qyh.oauth2.entity.OauthType" alias="OauthType" />
	</typeAliases>
	<mappers>
		<mapper resource="resources/mybatis/mapper/roleMapper.xml" />
		<mapper resource="resources/mybatis/mapper/userMapper.xml" />
		<mapper resource="resources/mybatis/mapper/userCodeMapper.xml" />
		<mapper resource="resources/mybatis/mapper/loginInfoMapper.xml" />

		<mapper resource="resources/mybatis/mapper/fileMapper.xml" />

		<mapper resource="resources/mybatis/mapper/messageSendMapper.xml" />
		<mapper resource="resources/mybatis/mapper/messageDetailMapper.xml" />
		<mapper resource="resources/mybatis/mapper/messageReceiveMapper.xml" />

		<mapper resource="resources/mybatis/mapper/commentMapper.xml" />
		<mapper resource="resources/mybatis/mapper/commentScopeMapper.xml" />

		<mapper resource="resources/mybatis/mapper/blogCategoryMapper.xml" />
		<mapper resource="resources/mybatis/mapper/blogMapper.xml" />
		<mapper resource="resources/mybatis/mapper/temporaryBlogMapper.xml" />

		<mapper resource="resources/mybatis/mapper/spaceMapper.xml" />

		<mapper resource="resources/mybatis/mapper/tagMapper.xml" />
		<mapper resource="resources/mybatis/mapper/userTagMapper.xml" />
		<mapper resource="resources/mybatis/mapper/blogTagMapper.xml" />

		<mapper resource="resources/mybatis/mapper/userWidgetMapper.xml" />
		<mapper resource="resources/mybatis/mapper/widgetPageMapper.xml" />
		<mapper resource="resources/mybatis/mapper/widgetConfigMapper.xml" />
		<mapper resource="resources/mybatis/mapper/blogWidgetConfigMapper.xml" />
		<mapper resource="resources/mybatis/mapper/locationWidgetMapper.xml" />

		<!--oauth2 -->
		<mapper resource="resources/mybatis/mapper-oauth2/oauthUserMapper.xml" />
	</mappers>
</configuration>