<configuration>
	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>.%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %n
			</Pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>TRACE</level>
		</filter>
	</appender>

	<appender name="errorDailyRollingFileAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>c:/logs/blog/error.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>c:/logs/blog/error.%d{yyyy-MM-dd}.log</FileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n
			</Pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>
	
	<appender name="warningDailyRollingFileAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>c:/logs/blog/warning.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>c:/logs/blog/warning.%d{yyyy-MM-dd}.log</FileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n
			</Pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<appender name="mlogDailyRollingFileAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>c:/logs/blog/mlog.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<FileNamePattern>c:/logs/blog/mlog.%d{yyyy-MM-dd}.log</FileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n
			</Pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<appender name="loginDailyRollingFileAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>c:/logs/blog/login.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>c:/logs/blog/login.%d{yyyy-MM-dd}.log</FileNamePattern>
			<maxHistory>10</maxHistory>
		</rollingPolicy>

		<encoder>
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n
			</Pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<logger name="errorLogger" additivity="false">
		<level value="ERROR" />
		<appender-ref ref="errorDailyRollingFileAppender" />
	</logger>
	
	<logger name="warningLogger" additivity="false">
		<level value="WARNING" />
		<appender-ref ref="warningDailyRollingFileAppender" />
	</logger>

	<logger name="login" additivity="false">
		<level value="INFO" />
		<appender-ref ref="loginDailyRollingFileAppender" />
	</logger>

	<logger name="mlog" additivity="false">
		<level value="INFO" />
		<appender-ref ref="mlogDailyRollingFileAppender" />
	</logger>

	<root>
		<level value="INFO" />
	</root>
</configuration>