<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.qyh.dao.BlogCommentDao">

	<resultMap type="BlogComment" id="CommentDetail">
		<id column="id" property="id" />
		<result column="comment_title" property="title" />
		<result column="content" property="content" />
		<result column="anonymous" property="isAnonymous" />
		<result column="comment_date" property="commentDate" />
		<association property="user" javaType="User">
			<id column="user_id" property="id" />
			<id column="user_nickname" property="nickname" />
			<association property="avatar" javaType="MyFile">
				<result column="file_name" property="name" />
				<result column="file_store" property="store" typeHandler="FileStorageTypeHandler" />
				<result column="relativePath" property="relativePath" />
			</association>
		</association>
		<association property="parent" javaType="BlogComment">
			<id column="parent_id" property="id" />
		</association>
		<association property="replyTo" javaType="User">
			<id column="reply_to" property="id" />
			<id column="reply_nickname" property="nickname" />
		</association>
		<association property="reply" javaType="BlogComment">
			<id column="reply_id" property="id" />
		</association>
		<association property="blog" javaType="Blog">
			<id column="blog_id" property="id" />
		</association>
	</resultMap>

	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		INSERT
		INTO
		blog_comment(comment_title,parent_id,user_id,blog_id,comment_date,anonymous,content,reply_to,reply_id)
		VALUES(#{title},#{parent.id},#{user.id},#{blog.id},#{commentDate},#{isAnonymous},#{content},#{replyTo.id},#{reply.id})
	</insert>

	<select id="selectById" resultMap="CommentDetail">
		SELECT c.id,comment_title,parent_id,c.user_id,blog_id,comment_date,reply_id,
		anonymous,content,reply_to,bu.nickname AS user_nickname,bu2.nickname
		AS reply_nickname,file_name,file_store,relativePath
		FROM blog_comment c
		LEFT OUTER JOIN blog_user bu ON c.user_id = bu.id
		LEFT OUTER JOIN blog_file bf ON bu.avatar = bf.id
		LEFT OUTER JOIN blog_user bu2 ON c.reply_to = bu2.id
		WHERE c.id = #{id}
	</select>

	<select id="selectPage" resultMap="CommentDetail">
		SELECT
		c.id,comment_title,parent_id,c.user_id,blog_id,comment_date,reply_id,
		anonymous,content,reply_to,bu.nickname AS user_nickname,bu2.nickname
		AS reply_nickname,file_name,file_store,relativePath
		FROM blog_comment c
		LEFT OUTER JOIN blog_user bu ON c.user_id = bu.id
		LEFT OUTER JOIN blog_file bf ON bu.avatar = bf.id
		LEFT OUTER JOIN blog_user bu2 ON c.reply_to = bu2.id
		WHERE blog_id = #{blog.id}
		<choose>
			<when test="parent == null">
				AND parent_id IS NULL
				ORDER BY id DESC
			</when>
			<otherwise>
				AND parent_id = #{parent.id}
			</otherwise>
		</choose>
		<if test="user != null">
			AND c.user_id = #{user.id}
		</if>
		LIMIT #{offset},#{pageSize}
	</select>

	<select id="selectCount" resultType="int">
		SELECT COUNT(id) FROM blog_comment
		WHERE blog_id = #{blog.id}
		<choose>
			<when test="parent == null">
				AND parent_id IS NULL
			</when>
			<otherwise>
				AND parent_id = #{parent.id}
			</otherwise>
		</choose>
		<if test="user != null">
			AND user_id = #{user.id}
		</if>
	</select>

	<delete id="deleteByParent">
		DELETE FROM blog_comment WHERE parent_id = #{id}
	</delete>

	<delete id="deleteById">
		DELETE FROM blog_comment WHERE id = #{id}
	</delete>

	<delete id="deleteByBlog">
		DELETE FROM blog_comment WHERE blog_id = #{id}
	</delete>

	<select id="selectCountByDate" resultType="int">
		SELECT COUNT(id) FROM
		blog_comment
		WHERE user_id = #{user.id}
		AND comment_date BETWEEN #{begin} AND #{end}
	</select>
</mapper>