<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.qyh.dao.LocationWidgetDao">

	<resultMap type="LocationWidget" id="LocationWidgetResult">
		<id property="id" column="id" />
		<result column="row_index" property="r" />
		<result column="column_index" property="x" />
		<result column="widget_index" property="y" />
		<result column="width" property="width" />
		<association property="page" javaType="Page">
			<result column="page_id" property="id" />
		</association>
		<association property="widget" javaType="Widget">
			<result column="widget_id" property="id" />
			<result column="widget_name" property="name" />
			<result column="widget_html" property="html" />
			<result property="type" column="widget_type" typeHandler="EnumOrdinalTypeHandler" />
			<discriminator javaType="java.lang.Integer" column="widget_type">
				<case value="1" resultType="UserWidget">
					<result column="create_date" property="createDate" />
				</case>
			</discriminator>
		</association>
		<association property="config" javaType="WidgetConfig">
			<id property="id" column="id" />
			<result column="hidden" property="hidden" />
			<result property="scope" column="scope" typeHandler="EnumOrdinalTypeHandler" />
		</association>
	</resultMap>

	<insert id="insert" keyColumn="id" useGeneratedKeys="true"
		keyProperty="id">
		INSERT INTO widget_locationwidget
		(
		row_index,
		column_index,
		widget_index,
		widget_type,
		page_id,
		widget_id,
		width
		)
		VALUES
		(
		#{r},
		#{x},
		#{y},
		#{widget.type,javaType=WidgetType,typeHandler=EnumOrdinalTypeHandler},
		#{page.id},
		#{widget.id},
		#{width}
		)
	</insert>

	<select id="selectByPage" resultMap="LocationWidgetResult">
		SELECT
		wl.id,wl.row_index,wl.column_index,wl.widget_index,wl.widget_type,wl.page_id,wl.widget_id,wl.width,wu.widget_name,wu.widget_html,wu.create_date,wc.hidden,wc.scope
		FROM widget_locationwidget wl 
		LEFT OUTER JOIN widget_user wu ON wl.widget_id = wu.id
		LEFT OUTER JOIN widget_config wc ON wl.id = wc.widget_id
		WHERE wl.page_id = #{id}
	</select>

	<select id="selectById" resultMap="LocationWidgetResult">
		SELECT
		id,row_index,column_index,widget_index,widget_type,page_id,widget_id,width
		FROM widget_locationwidget WHERE id = #{id}
	</select>

	<select id="selectByIndex" resultMap="LocationWidgetResult">
		SELECT
		id,row_index,column_index,widget_index,widget_type,page_id,widget_id,width
		FROM widget_locationwidget
		WHERE row_index = #{rowIndex}
		AND
		column_index = #{columnIndex}
		AND widget_index = #{index}
		AND page_id =
		#{page.id}
	</select>

	<select id="selectByWidgetAndPage" resultMap="LocationWidgetResult">
		SELECT
		id,row_index,column_index,widget_index,widget_type,page_id,widget_id,width
		FROM widget_locationwidget
		WHERE widget_id = #{widget.id}
		AND
		widget_type =
		#{widget.type,javaType=WidgetType,typeHandler=EnumOrdinalTypeHandler}
		AND page_id = #{page.id}
	</select>

	<select id="selectByWidget" resultMap="LocationWidgetResult">
		SELECT
		id,row_index,column_index,widget_index,widget_type,page_id,widget_id,width
		FROM widget_locationwidget
		WHERE widget_id = #{id}
		AND widget_type =
		#{type,javaType=WidgetType,typeHandler=EnumOrdinalTypeHandler}
	</select>

	<delete id="deleteById">
		DELETE FROM widget_locationwidget
		WHERE id = #{id}
	</delete>

	<select id="selectCountByPage" resultType="int">
		SELECT COUNT(id) FROM widget_locationwidget WHERE page_id = #{id}
	</select>

	<update id="update">
		UPDATE widget_locationwidget
		SET
		row_index = #{r},
		column_index = #{x},
		width = #{width},
		widget_index = #{y}
		WHERE id =
		#{id}
	</update>

</mapper>