<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.qyh.dao.LoginInfoDao">

	<resultMap type="LoginInfo" id="LoginInfoDetail">
		<id property="id" column="id" />
		<result property="remoteAddress" column="remote_address"/>
		<result property="loginDate" column="login_date" />
		<association property="user" javaType="User">
			<id column="user_id" property="id" />
		</association>
	</resultMap>

	<insert id="insert" keyProperty="id" useGeneratedKeys="true"
		keyColumn="id">
		INSERT INTO login_info(remote_address,login_date,user_id)
		VALUES(#{remoteAddress},#{loginDate},#{user.id})
	</insert>

</mapper>