<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.qyh.dao.MessageDetailDao">

	<resultMap type="MessageDetail" id="MessageDetailDetail">
		<id property="id" column="id" />
		<result column="title" property="title" />
		<result column="content" property="content" />
	</resultMap>

	<insert id="insert" keyProperty="id" useGeneratedKeys="true"
		keyColumn="id">
		INSERT INTO message_detail(title,content)
		VALUES(#{title},#{content})
	</insert>

	<select id="selectById" resultMap="MessageDetailDetail">
		SELECT id,title,content
		FROM
		message_detail m
		WHERE m.id = #{id}
	</select>

</mapper>