<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.qyh.dao.MessageSendDao">

	<resultMap type="MessageSend" id="MessageSendDetail">
		<id property="id" column="id" />
		<result property="sendDate" column="sendDate" />
		<result property="isDeleted" column="isDeleted" />
		<result property="type" column="message_type" typeHandler="EnumOrdinalTypeHandler" />
		<association property="sender" javaType="User">
			<id column="sender" property="id" />
		</association>
		<association property="detail" javaType="MessageDetail">
			<id column="detail" property="id" />
			<result column="title" property="title" />
			<result column="content" property="content" />
		</association>
	</resultMap>

	<insert id="insert" keyProperty="id" useGeneratedKeys="true"
		keyColumn="id">
		INSERT INTO message_send(detail,sender,sendDate,message_type,isDeleted)
		VALUES(#{detail.id},#{sender.id},#{sendDate},#{type,javaType=MessageType,typeHandler=EnumOrdinalTypeHandler},#{isDeleted})
	</insert>

	<select id="selectPage" resultMap="MessageSendDetail">
		SELECT ms.id,sendDate,isDeleted,message_type,title,sender,detail
		FROM message_send ms LEFT OUTER JOIN message_detail md ON ms.detail =
		md.id
		WHERE ms.isDeleted = false
		<if test="sender != null">
			AND sender = #{sender.id}
		</if>
		<if test="begin != null and end != null">
			AND ms.sendDate BETWEEN #{begin} AND #{end}
		</if>
		<if test="type != null">
			AND ms.message_type =
			#{type,javaType=MessageType,typeHandler=EnumOrdinalTypeHandler}
		</if>
		ORDER BY ms.id DESC
		LIMIT #{offset},#{pageSize}
	</select>

	<select id="selectCount" resultType="int">
		SELECT COUNT(ms.id) FROM message_send ms
		WHERE ms.isDeleted = false
		<if test="sender != null">
			AND sender = #{sender.id}
		</if>
		<if test="begin != null and end != null">
			AND ms.sendDate BETWEEN #{begin} AND #{end}
		</if>
		<if test="type != null">
			AND ms.message_type =
			#{type,javaType=MessageType,typeHandler=EnumOrdinalTypeHandler}
		</if>
	</select>

	<select id="selectById" resultMap="MessageSendDetail">
		SELECT ms.id,sendDate,isDeleted,message_type,title,sender,detail,content
		FROM message_send ms LEFT OUTER JOIN message_detail md ON ms.detail =
		md.id
		WHERE ms.isDeleted = false
		AND ms.id = #{id}
	</select>

	<select id="selectUnSendMessageByTypeAndUser" resultMap="MessageSendDetail">
		SELECT ms.id,sendDate,sender,detail,title,content FROM message_send ms
		INNER JOIN message_detail md ON ms.detail = md.id
		WHERE NOT EXISTS (SELECT
		message FROM message_receive mr WHERE ms.id = mr.message AND
		mr.receiver = #{user.id})
		AND ms.message_type =
		#{type,javaType=MessageType,typeHandler=EnumOrdinalTypeHandler}
		AND ms.isDeleted = false
		ORDER BY ms.id DESC
		LIMIT 0,#{maxCount}
	</select>

	<delete id="deleteById">
		UPDATE message_send SET isDeleted = true WHERE id = #{id}
	</delete>


</mapper>