<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.qyh.dao.TemporaryBlogDao">

	<resultMap type="TemporaryBlog" id="TemporaryBlogDetail">
		<id column="id" property="id" />
		<result column="title" property="title" />
		<result column="content" property="content" />
		<result column="saveDate" property="saveDate" />
		<result column="json" property="json" />
		<association property="space" javaType="Space">
			<id column="space_id" property="id" />
		</association>
		<association property="blog" javaType="Blog">
			<id column="blog" property="id" />
		</association>
	</resultMap>

	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		INSERT
		INTO temporary_blog
		(
		id,
		title,
		content,
		saveDate,
		space_id,
		json,
		blog
		)
		VALUES
		(
		#{id},
		#{title},
		#{content},
		#{saveDate},
		#{space.id},
		#{json},
		#{blog.id}
		)
	</insert>

	<select id="selectById" resultMap="TemporaryBlogDetail">
		SELECT
		id,title,content,saveDate,space_id,json,blog FROM temporary_blog WHERE
		id = #{id}
	</select>

	<update id="update">
		UPDATE temporary_blog
		<set>
			<if test="title != null">
				title = #{title},
			</if>
			<if test="content != null">
				content = #{content},
			</if>
			<if test="saveDate != null">
				saveDate = #{saveDate},
			</if>
			<if test="json != null and json">
				json = #{json}
			</if>
		</set>
		WHERE id = #{id}
	</update>

	<select id="selectByBlog" resultMap="TemporaryBlogDetail">
		SELECT id,title,saveDate,space_id FROM temporary_blog
		WHERE space_id =
		#{space.id}
		<choose>
			<when test="id == null">
				AND blog IS NULL
			</when>
			<otherwise>
				AND blog = #{id}
			</otherwise>
		</choose>
		ORDER BY id DESC
	</select>

	<select id="deleteByBlog">
		DELETE FROM temporary_blog
		WHERE space_id = #{space.id}
		<choose>
			<when test="id == null">
				AND blog IS NULL
			</when>
			<otherwise>
				AND blog = #{id}
			</otherwise>
		</choose>
	</select>

</mapper>
