<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.qyh.dao.WebTagCountDao">

	<resultMap type="WebTagCount" id="WebTagCountDetail">
		<result property="module" column="module" typeHandler="EnumOrdinalTypeHandler" />
		<result column="refrences_count" property="count" />
		<association property="tag" javaType="WebTag">
			<id column="tag_id" property="id" />
		</association>
	</resultMap>

	<select id="selectByTag" resultMap="WebTagCountDetail">
		SELECT
		refrences_count,tag_id,module FROM web_tag_count WHERE tag_id = #{id}
	</select>

	<update id="updateCount">
		UPDATE web_tag_count
		SET refrences_count = refrences_count + #{count}
		WHERE tag_id = #{wt.id}
		AND module =
		#{module,javaType=TagModule,typeHandler=EnumOrdinalTypeHandler}
	</update>

	<insert id="insert">
		INSERT INTO
		web_tag_count
		(
		module,
		refrences_count,
		tag_id
		)
		VALUES
		(
		#{module,javaType=TagModule,typeHandler=EnumOrdinalTypeHandler},
		#{count},
		#{tag.id}
		)
	</insert>


</mapper>